body{
    font-family: Lucida Console;
    text-align: center;
}

#main{
    margin-top: 40px;
}

.list_show>button{
    margin: 5px;
}


h1{
    text-align: center;
    color:#f66500;
}

ul.list{
    list-style: none;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

li.project, li.config{
    border-bottom: 1px solid #d5d5d5;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    margin: 5px auto;

}

a:hover{
    background-color: #ededed;
}


a > span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
}

a > span > i {
    position: absolute;
    margin-top: 3px;
    right: 31px;
}

.error{
    color:red
}
.success{
    color:green;
}

.static{
    overflow: hidden;
    overflow-x: scroll;
}


.required{
    color: red;
    font-size: 12px;
    display: block;
}

#EditorForm{
 text-align: left;
    margin-top: 30px;
}


a.btn_project, a.btn_config{

    background-color: #e9e5e5;
    cursor: pointer;
    display: block;
    padding: 15px 20px;
    text-overflow: ellipsis;
}

#add_input_project, #add_input_config{
    display: none;
}

ul#projects_edit{

}
li.project_edit, li#config_edit{
    display: inline-block;
}







.rm_project_cross, .rm_config_cross{
    display: none;
}

svg {
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: absolute;
    margin: -10px 0px 0px 260px;
    z-index: 50;
}
svg > circle {
    stroke: black;
    fill: red;
}
svg > path {
    stroke: white;
}
svg:hover > path {
    stroke: black;
}


#construct{
    display: none;
}

select{
    max-width: 400px;
}





.step {
    float: left;
    background-color: #eea236;
    margin-right: 5px;
    padding: 5px;
    text-underline: none;
}

.step:hover{
    color: #FFFFFF;
}

.notice{
    border: solid;
}

.info {
    margin-top: 30px;
    overflow: hidden;
}

.info .sub-info{
    border: solid;
    min-height: 200px;
    max-height: 700px;
}

.btn-group .btn-thumb{
    margin: 15px;
}

.info .sub-info .top,.main,.bottom{
    border: 1px;
    margin-bottom: 20px;
}

#infos{
    border:solid
}



ul.racine{
    list-style: inherit;
}